.title__page h2 {
    font-weight: 700;
    font-size: var(--font__titulo);
    line-height: 64px;
}
    
.title__page h2 span {
    color: var(--texto_titulo);
    text-transform: uppercase;
    font-weight: 300 !important;
}

@media screen and (max-width: 1024px) {
    .title__page {
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
    }
}
@media screen and (max-width: 765px) {
    .title__page {
        margin: 5rem auto;
        font-size: var(--font__titulo);
        
    }
}
