.title__page h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
}
    
.title__page h2 span {
    color: #BDBDBD;
    text-transform: uppercase;
    font-size: 64px !important;
    font-weight: 300 !important;
    line-height: 64px !important;
}

@media screen and (max-width: 765px) {
    .title__page {
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
        margin: 5rem;
    }
}
