.box__arrows {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

.btn__arrow {
    padding: 1.5rem;
    border: 1px solid var(--texto_cinza);
    background-color: var(--bg_secondary);
    cursor: pointer;
}

.btn__arrow svg.item__arrow {
    width: 15px;
    height: 15px;
}

.btn__arrow:first-child {
    background-color: var(--bg_primary);
}

@media screen and (max-width: 1024px) {
    .box__arrows {
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .box__arrows {
        width: 100%;
        gap: 0px !important;
        justify-content: space-around;
    }
    
    .btn__arrow {
        padding: 2rem;
    }
}
