section.mission {
    width: 100%;
    margin: 6rem auto;
}

.container__mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.box__mission {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.box__mission h1 {
    font-size: 200px;
    color: var(--texto_cinza);
    
}

.box__mission p {
    font-size: var(--font__missao);
    width: 60%;
    color: var(--bg_footer);
}


@media screen and (max-width: 768px) {
    section.mission {
        margin: 4rem auto;
        padding: 0 1rem;
    }

    .container__mission {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
    .box__mission h1 {
        font-size: 150px;
    }
    .box__mission p {
        font-size: var(--font_destaque);
    }
}
