section.mission {
    width: 100%;
    margin: 6rem auto;
}

.title__mission {
    color: #BDBDBD;
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
}

.container__mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.box__mission {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.box__mission h1 {
    font-size: 200px;
    color: #F2F2F2;
}

.box__mission p {
    font-size: 22px;
    width: 60%;
}


@media screen and (max-width: 768px) {
    section.mission {
        margin: 3rem auto;
    }

    .title__mission {
        text-align: center;
        margin-top: 10rem;
        align-items: center;
    }

    .container__mission {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
}
