.container__capa {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center; 
}

.textos__capa {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 5rem;
    color: var(--texto_geral);
}



.image__capa { 
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.image__capa img {
    border-radius: 5px;
}

.image__bg {
    width: 100%;
    height: 100%;
    max-height: 830px;
    background-size: cover;
}

.image__view {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    background: var(--bg_primary);
    padding: 2rem;
    color: var(--texto_geral);
}

@media screen and (max-width: 768px){
    .container__capa {
        flex-direction: column !important;
        align-items: center;
    }

    .textos__capa {
        justify-content: center;
        align-items: center;
    }

    .image__view {
        padding: 1rem 2rem;
    }
    
}