section.certfication {
    width: 100%;
    margin: 1rem 0 5rem 0; 
}

.title__certification {
    margin-bottom: 3rem;
}

.title__certification h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
}

.title__certification span {
    color: #BDBDBD;
    text-transform: uppercase;
    font-size: 64px !important;
    font-weight: 300 !important;
    line-height: 64px !important;
}

.container__itemproject hr {
    border: 1px solid #f2f2f2 !important;
    margin-bottom: 3rem;
}

.list__certification {
    height: 30vh;
}
