section.certfication {
    width: 100%;
    margin: 1rem 0 5rem 0; 
}

.title__certification {
    margin-bottom: 3rem;
}


.container__itemproject hr {
    border: 1px solid var(--texto_cinza) !important;
    margin-bottom: 3rem;
}

.list__certification {
    height: 30vh;
}
